<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="https://www.projectglobalcure.org/assets/images/pgc_logo.svg" alt="LOGO" width="150" height="60">
    </a>
    <div class="menu">
      <a href="about" id="menuicon">ABOUT</a>
      
      
        <a hred="#" class="dropdown" data-toggle="dropdown" role="button" data-target="#dropdown"  aria-expid="menuicon">WE OFFER</a>
      
       
        <a href="#" id="menuicon">Explore</a>
      
      
        <a href="#" id="menuicon">Covid-19</a>
      
      
        <a href="#" id="menuicon">Contact Us</a>
      
    </div>

  </div>
</nav>

