<!-- NAVIGATION LEFT -->

<!-- NAVIGATION -->

<!--
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="home">
      <img src="https://www.projectglobalcure.org/assets/images/pgc_logo.svg" alt="LOGO" width="150" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavBar">
      <span class="navbar-toggler-icon" style="background-color: green"></span>
    </button>


    <div class="menu collapse navbar-collapse" id="collapseNavBar">
      <ul class="navbar-right">
        <li class="nav-item"><a routerLink="about">ABOUT</a></li>

        <li class="nav-item dropdown-toggle" data-bs-toggle="dropdown"><a>We Offer</a></li>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="medicalsupport">Medical Support</a></li>
          <li><a class="dropdown-item" href="medicalawareness">Medical Awareness</a></li>
        </ul>

        <li class="nav-item dropdown-toggle" data-bs-toggle="dropdown"><a>EXPLORE</a></li>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="blogs">Blogs</a></li>
          <li><a class="dropdown-item" href="accountability">Accountability</a></li>
          <li><a class="dropdown-item" href="carrers">Carrers</a></li>
        </ul>

        <li class="nav-item"><a routerLink="covid19">Covid-19</a></li>

        <li class="nav-item"><a routerLink="contactus">Contact Us</a></li>

        <li class="nav-item"><a routerLink="donate"><img
              src="https://www.projectglobalcure.org/assets/images/donate-black.png" style="width:80px"></a></li>

      </ul>


    </div>

  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="home">
      <img src="https://www.projectglobalcure.org/assets/images/pgc_logo.svg" alt="LOGO" width="150" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="font-size:20px"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            We Offer
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Medical Support</a></li>
            <li><a class="dropdown-item" href="#">Medical Awareness</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explore
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Blogs</a></li>
            <li><a class="dropdown-item" href="#">accountability</a></li>
            <li><a class="dropdown-item" href="#">Carrers</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Covid 19</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <img
              src="https://www.projectglobalcure.org/assets/images/donate-black.png" style="width:80px">
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>