.links{
    background-color: rgb(132, 12, 12);
    color: white;
    font-size:18px;
    padding: 10px;
    min-height: 200px;
    padding-left: 50px;
    
}

.social-media , .info{
    background: rgb(155, 22, 22);
    text-align: center;
    padding: 10px;
    
}
.address{
    color: white;
    font-size: 15px;
    padding: 10px;
}
#heading{
    text-decoration: underline;
    text-align: center;
}

.footer{
   
    background-color: #7a0505;
    color: white;
}
