<div class="footer">

    <!-- LINKS -->
    <div class="links container-fluid mt-3 p-4 text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>ABOUT</h3>
                <li>ABOUT PGC</li>
                <li>Project Partner</li>
                <li>Executive Manager</li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>QUICK LINKS</h3>
                <li>Contact Us</li>
                <li>Careers</li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>NEWS AND MEDIA</h3>
                <li>Blogs</li>
                <li>Covid 19</li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>EXPLORE</h3>
                <li>Medical Awareness</li>
                <li>Accountability</li>
            </div>
        </div>
    </div>

    <!-- ADDRESS -->
    <div class="info container-fluid text-center ">
        <div class="row">
            <div class="col-12">
                <div class="imggc">
                    <img src="https://www.projectglobalcure.org/assets/images/Cure-white-logo@4x.png" alt="image">
            </div>
        </div>

        <div class="address">
            <div class="container text-center p-3">
                <div class="row">
                    <div class="col-12">
                        Project Global Cure is an initiative of Humanity Welfare Council<br>

                        Humanity Welfare Council a Sec 8 Company Duly Registered With Ministry Of Corporate Affairs
                        vides<br>

                        CIN - U74999DL2017NPL325791
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- SOCIAL MEDIA ICONS -->
    <div class="social-media">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <i class="fa-brands fa-facebook-f">FB</i>
                    FACEBOOK
                </div>
            </div>
        </div>
    </div>

    <p>----------------------------------------------------------------------------------------------------</p>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>
                    Terms and Condition | Privacy Policy | FAQs | SiteMap | Contact us | Login
                </h5>
            </div>
        </div>


        <br>

        <div class="row p-2">
            <div class="col-12">
                <h5>Copyright &copy; 2021 Project Global Cure. All rights reserved. Website Designed by Conciento-Tech.
                </h5>
            </div>
        </div>


    </div>