.links{
    background-color: #af1010;
    color: white;
    font-size:18px;
    padding: 10px;
    min-height: 200px;
    
}

.social-media , .info{
    background: rgb(155, 22, 22);
    text-align: center;
    padding: 10px;
    
}
.address{
    color: white;
    font-size: 15px;
    padding: 10px;
    
}

.footer{
    text-align: center;
    background-color: #7a0505;
    color: white;
}