.carousel{
    width: 100%;
}
.news{
    text-align: center;
}
.heading{
    background: rgb(102, 5, 5);
    color: white;
    padding: 20px;
}
.desc{
    background: silver;
    padding: 20px;
}

.cardtop{
    // width:30%;
    height: auto;
    // margin: 20px;
    height: 300px;
    padding: 50px;
}


.hw{
    height: 500px;
    padding-top:50px,50px;
    
}
#hwd{
    padding: 50px;
}
.working{
    height: 500px;
    text-align: center;
    padding: 50px;
    opacity: 0.8;
    font-size: 20px;
    background: url("https://www.projectglobalcure.org/assets/images/landing-page/Saving-Lives-Amid-the-Coronavirus-Pandemic.webp");
}

.impact{
    background: black;
    color:white;
    text-align: center;
    padding:50px;
}
.info{
    background-color: black;
    height: 400px;
    padding:15px;
    color:white;
    opacity:0.5;
}
.info:hover{
    height:420px;
    background: grey;
    
}