<!-- CAROUSEL GALLERY    -->
<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active">
            <img src="https://www.projectglobalcure.org/assets/images/landing-page/banner/first-banner.webp"
                style="width: 100%">

        </div>
        <div class="carousel-item ">
            <img src="https://www.projectglobalcure.org/assets/images/landing-page/banner/Emergency-Fund.webp"
                style="width: 100%">

        </div>
        <div class="carousel-item ">
            <img src="https://www.projectglobalcure.org/assets/images/landing-page/banner/unconditional-support.webp"
                style="width: 100%">

        </div>
    </div>
</div>


<!-- NEWS SECTION   -->
<div class="news container-fluid">
    <div class="row">
        <div class="heading col-lg-1 col-md-12 col-sm-12 text-center">
            <h3>NEWS</h3>
        </div>

        <!--HERE DESIGN GIVING PROBLEM-->
        <!-- RENDERS DAI;Y NEWS IF PRESENT ELSE RENDER NO NEWS TODAY   -->
        <div class="desc col-lg-11 col-md-12 col-sm-12">
            <div class="row">
                <ng-container *ngIf="news.length >0; then userloggedIn; else userloggedOut">
                </ng-container>
                <ng-template #userloggedIn>
                    <div class="col-lg-4 col-md-12 col-sm-12 py-4" *ngFor="let news of news">
                        <h4>MAY 23 , 2022 <br>
                            <b>{{ news }}</b>
                        </h4>
                    </div>
                </ng-template>
                <ng-template #userloggedOut>
                    <h1 class="text-center">NO NEWS TODAY</h1>
                </ng-template>


            </div>
        </div>

    </div>
</div>


<!-- WHAT WE DO    -->
<div class="wedo" [style]="pink">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 py-5 " style="padding-top:50px">
                <h3>REASONS DO COUNT ON US</h3>
                <h2><b>WHAT WE DO ?</b></h2>
                <p>Project Global Cure strives to meet the demand for quality health services with advancements in the
                    medical system and increased accessibility.</p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 py-3 ">
                <div class="cardtop card">
                    <i class="fas fadesign fa-hand-holding-heart"></i>

                    <h3>CONTINGENCY FUNDS</h3><br>
                    <p>To meet the demand for quality health services and technological advancement of the health
                        sector.</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-s-12 py-3 ">
                <div class="card cardtop">
                    <div id="logofund">
                        <i class="fas fadesign fa-universal-access"></i>
                    </div>
                    <div class="card-content">
                        <h3>Easily Accessible Platform</h3>
                        <p>Where everyone can reach out with effortless technical accessibility.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-s-12 py-3">
                <div class="card cardtop">
                    <div id="logofund">
                        <i class="fas fa-medkit fadesign"></i>
                    </div>
                    <div class="card-content">
                        <h3>Quality Health Support System</h3><br>
                        <p>That is Reliable and Transparent with increased accessibility.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-s-12 py-3">
                <div class="card cardtop">
                    <div id="logofund">
                        <i class="fas fa-user-md fadesign"></i>
                    </div>
                    <div class="card-content">
                        <h3>Free Medical Checkups </h3><br>
                        <p>Aiming to make consultations available at every nook and corner of India at Regular Intervals
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-s-12 py-3">
                <div class="card cardtop">
                    <div id="logofund">
                        <i class="fas fa-file-prescription fadesign"></i>
                    </div>
                    <div class="card-content">
                        <h3>Affordable medical solutions</h3><br>
                        <p>Creating effective and technically advanced medical solutions at affordable costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COMMITMENTS -->

<div class="commitments p-5 mt-5" style="text-align:center" [style]="pink">
    <h3 id="red">WE ARE DEDICATED TOWARDS</h3>
    <h1><b>OUR COMMITMENTS</b></h1>
    <img src="https://www.projectglobalcure.org/assets/images/landing-page/our_support_content.webp" width="90%">
</div>

<!-- MEDICAL CASES    -->
<div class="medical">
    <div class="container">
        <h3 class="mt-5" id="red">MEDICAL CASES</h3>
        <h1><b>WE ARE SUPPROTING</b></h1>
        <p>Getting medical help right away for someone with an emergency can save their life. Please extend your help to
            these victims according to your ability.</p>

        <div class="row">
            <app-personinfo></app-personinfo>
        </div>
    </div>
</div>

<!-- WE SAVED -->
<div class="container mt-5">
    <h1><b>LIVES WE HAVE SAVED</b></h1>
    <p>Congratulating and celebrating the lives we have saved through your help. Thank you.</p>

    <app-lifesaved></app-lifesaved>
</div>

<div class="hw container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 id="hwd" style="text-align: center;"><b>Every Day We Are One Step Closer to the <span id="red2">Healthy
                        World</span> We Want
                    Tomorrow, Through Our Steadfast Commitment to
                    Action Today.</b></h1>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 py-3 text-center">
                    <img src="https://www.projectglobalcure.org/assets/images/landing-page/c-1.webp">
                    <br>
                    <span id="red2">9000+</span>
                    <h3><b>Supporters</b></h3>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6  py-3  text-center">
                    <img src="https://www.projectglobalcure.org/assets/images/landing-page/c-2.webp">
                    <br>
                    <span id="red2">4000+</span>
                    <h3><b>Connected People</b></h3>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 py-3 text-center">
                    <img src="https://www.projectglobalcure.org/assets/images/landing-page/c-4.webp">
                    <br>
                    <span id="red2">28+</span>
                    <h3><b>States & UT</b></h3>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 py-3 text-center">
                    <img src="https://www.projectglobalcure.org/assets/images/landing-page/c-3.webp">
                    <br>
                    <span id="red2">50+</span>
                    <h3><b>Partners</b></h3>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-5">
    <div class="row">
        <h3 id="red">We Make Sincere Efforts Towards</h3>
        <h1><b>WHAT ARE WE WORKING ON?</b></h1>
        <h5>Our team is busy working towards our vision of a healthy and developed India. Discover what is happening at
            Project Global Cure here: </h5>
    </div>
</div>

<div class="working">
    <div class="container">
        <div class="row">
            <div class="info col-lg-3 col-md-6 col-sm-12">
                <h1>01</h1>
                <p>TRANSFORMING HEALTH SECTOR OF INDIA</p>
            </div>
            <div class="info col-lg-3 col-md-6 col-sm-12">
                <h1>02</h1>
                <p>Saving lives through advanced medical support</p>
            </div>
            <div class="info col-lg-3 col-md-6 col-sm-12">
                <h1>03</h1>
                <p>Easy access to medical services through technical advancement</p>
            </div>
            <div class="info col-lg-3 col-md-6 col-sm-12">
                <h1>04</h1>
                <p>BETTER CONNECTION TO CREATE HEALTHIER SOCIETY</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <!-- BULLETIN BOARD -->
    <h2 id="red2">Bulletin Board</h2>
    <h1><b>LATEST UPDATES</b></h1>
    <p>As we all know, the healthcare industry is undergoing a major transformation in India. The <span id="red">
            Project Global Cure</span>
        brings
        the latest healthcare news, views and updates from the Indian and Global Health Industry.</p>


    <app-bulletin></app-bulletin>

</div>

<!-- IMPACT TOGETHER -->
<div class="impact">
    <div class="container-fluid">
        <div class="row impactintro text-center">
            <h1 id="impb">Let's Make an Impact Together</h1>
            <br>
            <h5>Let us unite and provide emotional, moral and medical support to all citizens and build a healthy India
                by 2030</h5>

        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <img class='imgimpact' src="https://www.projectglobalcure.org/assets/images/landing-page/world-blood-pgc.jpg"
                    href="https://www.youtube.com/embed/w2eW784t0w8?rel=0&showinfo=0&autoplay=1">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <img class='imgimpact' src="https://www.projectglobalcure.org/assets/images/landing-page/mqdefault-pgc.jpg"
                    href="https://www.youtube.com/embed/w2eW784t0w8?rel=0&showinfo=0&autoplay=1">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <img class='imgimpact' src="https://www.projectglobalcure.org/assets/images/landing-page/mqdefault-senior-citizens.jpg"
                    href="https://www.youtube.com/embed/w2eW784t0w8?rel=0&showinfo=0&autoplay=1">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <img class='imgimpact' src="https://www.projectglobalcure.org/assets/images/landing-page/mqdefault-senior-citizens.jpg"
                    href="https://www.youtube.com/embed/w2eW784t0w8?rel=0&showinfo=0&autoplay=1">
            </div>
        </div>
    </div>
</div>

<div class="events">
    <div class="container">
        <div class="row p-5">
            <div class="col-12 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <h3 id="red">EVENTS</h3>
                <h1><b>EVENTS AT PGC</b></h1>
                <p><span id="red">PGC</span> organizes and hosts a multitude of events virtually and in person.</p>
            </div>
        </div>

        <app-events></app-events>

    </div>
</div>