.carousel{
    width: 100%;
}
.news{
    text-align: center;
    width:100%;
}

.heading{
    background: rgb(102, 5, 5);
    color: white;
  
  
}
.desc{
    background: silver;
    
}

.cardtop{
    // width:30%;
    height: auto;
    // margin: 20px;
    padding: 50px;
    border-bottom: 5px solid rgb(92, 10, 10);
}



#hwd{
    padding: 50px;
}
.working{
    
    text-align: center;
    padding: 50px;
    opacity: 0.8;
    font-size: 20px;
    background: url("https://www.projectglobalcure.org/assets/images/landing-page/Saving-Lives-Amid-the-Coronavirus-Pandemic.webp");
}

.impact{
    background: black;
    color:white;
    text-align: center;
    padding:50px;
}
.info{
    background-color: black;
    padding:15px;
    color:white;
    opacity:0.5;
}
.info:hover{
    background: grey;
    
}