<h1>MEDICAL</h1>MEDICAL SUPPORT
<div class="medsupport">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center p-2">
                <input class='searchbox' placeholder="Search here by cause">
                <button class="btn btn-danger">SEARCH</button>
            </div>
        </div>
        <div class="text-center p-2">
            <button class="btn btn-danger">CURRENTLY ONGOING</button>
            <button class="btn">OUR SUCCESS</button>
        </div>
    </div>
</div>

<div class="treatments">
    <!-- <ng-container *ngIf="patients.length > 0 ; then patientsdetails ;else loading"></ng-container>
    <ng-template #patientsdetails>
        DETAILS OF THE PERSON
    </ng-template>
    <ng-template #loading>
        <div class="loader">LOADING</div>
    </ng-template>
     -->
    <div *ngFor="item of patients | slice: 0:5">
        <h2>VALUE</h2>
        {{item.category}}
    </div>
</div>


