.searchbox{
    width: 80%;
    margin: 15px 15px;  
    padding-left: 50px; 
}

.medsupport{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    text-align: center;

}