
<div class="row">
    <div class="col-lg-3" *ngFor="let people of persondetails">
        <div class="card-body">
            <img src="https://pgc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/stories/e0b17d07-dc28-4d08-b7f0-ab3688abaca6/PGC-IMG_5635.png" width="100%">
            <h5 class="card-title">{{people.heading}}</h5>
            <p class="card-text">{{people.info}}</p>
            <a href="#" class="btn btn-primary">DONATE NOW</a>
        </div>
    </div>
</div>


















