<div class="row">
    <div class="col-lg-6 col-sm-12">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.projectglobalcure.org/assets/images/landing-page/event-emailer.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" style="color:red">World Meditation Day</h5>
                <h5 class="card-text">Events: Covid-19 Stress Relief - Let is Heal Overselves</h5>
                <h5 class="card-text"><small>Date: 21st May 2021</small></h5>
                <h5 class="card-text">Time: 5:30PM</h5>
                <h5>Join ZOOM Meeting </h5>
            </div>
            <button class="btn btn-danger m-2">Join Now</button>
            <button class="btn btn-danger m-2">Ritu-Gupta Fitnes Hub</button>
          </div>
        </div>
      </div>
      </div>


<div class="col-lg-6 col-sm-12">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.projectglobalcure.org/assets/images/landing-page/1080x1920.webp" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:red">Covid - 19 Food Distribution</h5>
              <h5 class="card-text">Do not lose your spirit in the fight against Covid -19</h5>
              <h5 class="card-text"><small >location: Bihar</small></h5>
              <h5 class="card-text">Corona Virus Relief Fund</h5>
              <h5> Donate Now:</h5>
            </div>
            <button class="btn btn-danger m-2">Join Now</button>
            <button class="btn btn-danger m-2">Please Support</button>
          </div>
        </div>
      </div>
      </div>
</div>