<div class="contactimage">
    <img src="https://www.projectglobalcure.org/assets/images/contact-us/contact-banner.webp" style="width:100%">
</div>

<div class="container info">
    <h1><b>Get engaged, inspired, and impactful with us</b></h1>
    <p>
        <br>
        Thank you for reaching out to us. We would love to hear from you and will be glad to assist with any inquiries
        you may have. Please visit our FAQs page to see if your question has already been answered.
        <br><br>
        Any individual can approach and connect with us through our Helpline Support or via Social Media Platforms. Our
        team members will connect with you at the earliest possible time to solve your query.
    </p>

    <div class="row"></div>

    <button class="btn btnmgn btn-danger"><i class="fa fa-phone"></i><a href="tel: +919506341076"
            style="color:white">9506341076</a></button>

    <button class="btn btnmgn btn-danger"><i class="fa fa-phone"></i><a href="mailto: adhiraj@concientotech.com"
            style="color:white">adhiraj@concientotech.com</a></button>
</div>


<div class="query">
    <div class="container">
        <div class="col-6">
            <br>
            <button class="btn btn-red" id="gnqry" (click)="generalquery()">GENERAL QUERY</button>
            <button class="btn btn-grey" id="mdqry"(click)="mediaquery()">MEDIA</button>

            <!-- FORM ENQUIRY   -->
            <div class="formquery">
                <h3><b>General Queries</b></h3>
                <p>Thank you for your interest in Project Global Cure . Whatever your enquiries, please use the form
                    below.</p>

                <form>
                    <div class="row">
                        <div class="col-6">

                            <label for="FirstName">FIRST NAME *</label><br>
                            <input type="text" placeholder="FirstName">

                            <br>

                            <label for="Country">COUNTRY</label><br>
                            <select class="countryselect">
                                <option value="india">INDIA</option>
                                <option value="us">US</option>
                                <option value="china">CHINA</option>
                            </select>

                            <br>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>

                        </div>
                    </div>
                </form>
            </div>

            <!-- MEDIA ENQUIRY FORM   -->
            <div class="mediaquery">
                <h3><b>MEDIA Queries</b></h3>
                <p>Thank you for your interest in Project Global Cure . Whatever your enquiries, please use the form
                    below..</p>

                <form>
                    <div class="row">

                        <div class="col-6">

                            <label for="FirstName">FIRST NAME *</label><br>
                            <input type="text" placeholder="FirstName">

                            <br>

                            <label for="Country">COUNTRY</label><br>
                            <select class="countryselect">
                                <option value="india">INDIA</option>
                                <option value="us">US</option>
                                <option value="china">CHINA</option>
                            </select>

                            <br>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>

                    </div>
                </form>
            </div>




        </div>

    </div>