<!-- TOP IMAGE -->
<div class="image">
    <div class="container-fluid">

        <img src="https://www.projectglobalcure.org/assets/images/About-us/About-us.webp" alt="IMAGE ON ABOUT US PAGE"
            width="100%" height="450px" />
    </div>
</div>

<br>

<!-- TEXT INFORMATION -->
<div class="info-about-gc">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>GET TO KNOW ABOUT PROJECT GLOBAL CURE</h3>

                <h1><b>Transforming Healthcare In Every Possible Way.</b></h1>
                <p>
                    Project Global Cure is a Humanity Welfare Council initiative that aims to transform the health care
                    sector
                    in India
                    by providing necessary funds to people in urgent need of medical assistance and advancing the
                    medical system
                    with
                    increased accessibility. Our motto is to transform our health system and make medical care available
                    for the
                    general
                    public without any burden of extra cost. Access to healthcare is a basic human right that every
                    citizen
                    should be
                    able to afford.

                    Our team comprises highly driven and committed individuals dedicated to creating a developed and
                    healthy
                    world. And
                    in our race towards a developed India, the health sector is our priority. Our initiative symbolizes
                    our
                    philanthropist nature, and we have been making a profound difference in the lives of many.

                    The healthcare system in our country is fighting various problems, including the insufficient number
                    of
                    institutions
                    and short-staffed human resources. A few people get expensive, world-class care, while a large part
                    of the
                    population doesn't even get the primary quality care. Over 60% of our population pays out of pocket
                    for
                    healthcare,
                    driving millions into poverty.
                </p>
            </div>
            <div class="col-6">
                <img src="https://www.projectglobalcure.org/assets/images/About-us/about-img.webp" height="600">
            </div>
        </div>

        <br>

        <p>
            A healthy human is the best resource for any nation. They are the basis of the development of a country.
            Only if a person is physically and mentally fit, he thinks beyond his zone and works for the upliftment of
            the nation. As the saying goes, a healthy body is a temple where a healthy mind resides.

            We focus on creating a strong, robust and healthy environment as a progressive approach towards the
            developing world. We strive to provide medical access for every individual and build a disease-free human
            race. Therefore, we are creating a broader platform where everyone can easily reach in case of a medical
            emergency without any unnecessary formalities and delayed time in attending to their medical concerns.

            On this platform, we also aim to unite the medical researchers, medical institutions, government and
            non-government bodies under one roof to attain solutions to globally arising medical concerns. We are also
            working on creating advanced and high medical solutions at affordable costs.

            We maintain transparency regarding our daily fund operations and assistance services. However, we hold
            ourselves liable to our trusted donors and people who approach us for help.
        </p>

    </div>

</div>

<!-- DIALOG MESSAGE BOX -->
<div class="notice-box">
    <div class="row">
        <div class="col-7">
            <h1>Your time and skills could help us in saving a precious life!</h1>
        </div>
        <div class="col-5">
            <button class="btn btn-primary">Become a Volunteer</button>
        </div>
    </div>
</div>

<!-- MISSION AND VISION-->
<div class="container">

    <h1><b>OUR MISSION AND VISION </b></h1>
    <br>
    <h2>
        <p>Making healthcare accessible to all and transforming health sector to make India healthy by 2030</p>
    </h2>

    <div class="row">
        <div class="col-6">
            <h1>Mission</h1>
            <br>
            <p>We aim to create innovative technology and finance solutions to empower Indians concerning healthcare. We
                create a system to raise funds for medical emergencies, critical illnesses, and a range of social and
                personal causes. Lakhs have used our platform to change lives through timely contributions, fundraisers
                and auctions.
            </p>
        </div>

        <div class="col-6">
            <h1>vision</h1>
            <br>
            <p>We envision a country where medical care is available and accessible for every citizen without any burden
                of extra costs. We aim to reconstruct the healthcare system in India by providing necessary funds to
                people in desperate need of medical assistance and bringing advancement in the medical system.
            </p>
        </div>

    </div>
</div>

<!-- TEAM MEMBERS -->
<h1 class="team"><b>MEET OUR TEAM</b></h1>

<div class="team container">
    <div class="row">
        <div class="col-4  ">
            <div class="card" style="width: 18rem;">
                <img src="https://www.projectglobalcure.org/assets/images/About-us/uditamam.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ms. Udaita Saikia</h5>
                    <p class="card-text">Co-Founder</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.projectglobalcure.org/assets/images/About-us/shweta-mam.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ms. Shweta Singh</h5>
                    <p class="card-text">Co-Founder</p>
                </div>
            </div>
        </div>
    </div>
</div>