<div class="row">
    <div class="col-4" *ngFor="let life of lifesaved">
        <div class="card" style="width: 18rem;">
            <img src="https://pgc-media.s3.ap-south-1.amazonaws.com/7c09ccc3-3c04-489c-bf59-6b5dec1cfbb8/stories/8b21394f-ed90-4b0e-b90b-dfb18777171a/PGC-PIC5.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ life.detail }}
                </h5>
                <p class="card-text">{{ life.info }}</p>
                <a href="#" class="btn btn-primary">DONATE NOW</a>
            </div>
        </div>
    </div>
</div>