<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let life of lifesaved | slice:0:4">
        <div class="card-body">
            <div class="card-content">
                <div class="img p-2">
                    <img src={{life.imgUrl}} width="100%">
                </div>
                <div class="title p-2">
                    <h5 class="card-title">{{life.detail}}</h5>
                </div>
                <div class="desc p-2">
                    <p class="card-text">{{life.info}}</p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary">DONATE NOW</button>               
            </div>
        </div>
        </div>
    </div>




<div class="view-all text-center p-5">
    <button class="btnview p-2">VIEW ALL</button>
</div>